body {
    margin: 20px;
}

h1 {
    text-align
    : center;
}

.main {
    display: flex;
    justify-content: center;
}

.grid-square {
    display: grid;
    width: 70vh;
    height: 70vh;
    background-color: black;
    border: 1px solid black;
    grid-gap: 1px;
}

.cell {

    background-color: white;
}

